{% extends "socialaccount/base.html" %}
{% load i18n %}

{% block title %}{% title_tag _("Login Cancelled") %}{% endblock %}

{% block settings_content %}
  {% include "header.html" with title=_("Login Cancelled") %}
  <div class="mt-6">
    <p class="text-sm text-base-content/60">
      {% url 'account_login' as login_url %}
      {% blocktranslate %}You decided to cancel logging in to our site using one of your existing accounts. If this was a mistake, please proceed to <a class="underline" href="{{ login_url }}">sign in</a>.{% endblocktranslate %}
    </p>
  </div>
{% endblock settings_content %}
