{% extends "socialaccount/base.html" %}
{% load i18n %}

{% block title %}{% title_tag _("Sign Up") %}{% endblock %}

{% block settings_content %}
  {% include "header.html" with title=_("Sign Up") %}
  <div class="mt-6">
    <p class="mb-4 text-sm text-base-content/60">
      {% blocktranslate with provider_name=account.get_provider.name site_name=site.name %}
        You are about to use your {{ provider_name }} account to login to {{ site_name }}.
        As a final step, please complete the following form:
      {% endblocktranslate %}
    </p>
    {% url 'socialaccount_signup' as form_action %}
    {% fragment "form.html" action=form_action %}
      {{ form }}
      {{ redirect_field }}
      {% fragment "form.html#buttons" %}
        <button type="submit" class="btn btn-primary">{% translate "Sign Up" %}</button>
      {% endfragment %}
    {% endfragment %}
  </div>
{% endblock settings_content %}
