/* HTMX transition variant */
@custom-variant htmx-added (& .htmx-added,.htmx-added &);

@layer base {
    /* HTMX progress indicator */
    #hx-indicator {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        height: 3px;
        background: oklch(var(--color-primary));
        z-index: 9999;
        transition:
        width 300ms ease-out,
        opacity 150ms 150ms ease-in;
        transform: translate3d(0, 0, 0);
    }

    #hx-indicator.htmx-request {
        display: block !important;
    }
}
