{% extends "account/base.html" %}
{% load i18n %}

{% block title %}{% title_tag "Sign In" %}{% endblock %}

{% block settings_content %}
  {% include "header.html" with title=_("Sign In") %}
  <div class="mt-6">
    <p class="mb-4 text-sm text-base-content/60">
      {% blocktranslate with url=signup_url %}No account? <a class="link link-primary" href="{{ url }}">Sign up</a>.{% endblocktranslate %}
    </p>
    {% fragment "form.html" %}
      {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      {{ form }}
      {% fragment "form.html#buttons" %}
        <button type="submit" class="btn btn-primary">{% translate "Sign In" %}</button>
      {% endfragment %}
    {% endfragment %}
  </div>
{% endblock settings_content %}
