{% extends "account/base.html" %}
{% load i18n %}

{% block title %}{% title_tag "Change Password" %}{% endblock %}

{% block settings_content %}
  {% if token_fail %}
    {% include "header.html" with title=_("Invalid Reset Link") %}
    <div class="mt-6">
      <p class="text-sm text-base-content/60">
        {% blocktranslate with url=reset_url %}
          This password reset link is invalid or has already been used.
          Please <a class="underline" href="{{ url }}">request a new one</a>.
        {% endblocktranslate %}
      </p>
    </div>
  {% else %}
    {% include "header.html" with title=_("Change Password") %}
    <div class="mt-6">
      {% if form %}
        {% fragment "form.html" %}
          {{ form }}
          {% fragment "form.html#buttons" %}
            <button type="submit" class="btn btn-primary">{% translate "Change Password" %}</button>
          {% endfragment %}
        {% endfragment %}
      {% else %}
        <p class="text-sm text-base-content/60">{% translate "Your password has been changed." %}</p>
      {% endif %}
    </div>
  {% endif %}
{% endblock settings_content %}
