{% extends "account/base.html" %}
{% load i18n %}

{% block title %}{% title_tag _("Change Password") %}{% endblock %}

{% block settings_content %}
  {% include "header.html" with title=_("Change Password") %}
  <div class="mt-6">
    {% url 'account_change_password' as form_action %}
    {% fragment "form.html" action=form_action %}
      {{ redirect_field }}
      {{ form }}
      {% fragment "form.html#buttons" %}
        <button type="submit" class="btn btn-primary">{% translate "Change Password" %}</button>
      {% endfragment %}
    {% endfragment %}
  </div>
{% endblock settings_content %}
