{% extends "account/base.html" %}
{% load i18n %}

{% block title %}{% title_tag "Password Reset" %}{% endblock %}

{% block settings_content %}
  {% include "header.html" with title=_("Password Reset") %}
  <div class="mt-6">
    <p class="mb-4 text-sm text-base-content/60">
      {% translate "Enter your email address and we will send you a link to reset your password." %}
    </p>
    {% fragment "form.html" %}
      {{ form }}
      {% fragment "form.html#buttons" %}
        <button type="submit" class="btn btn-primary">{% translate "Reset Password" %}</button>
      {% endfragment %}
    {% endfragment %}
  </div>
{% endblock settings_content %}
