{% extends "account/base.html" %}
{% load i18n %}

{% block title %}{% title_tag _("Confirm Access") %}{% endblock %}

{% block settings_content %}
  {% include "header.html" with title=_("Confirm Access") %}
  <div class="mt-6">
    <p class="mb-4 text-sm text-base-content/60">
      {% translate "Enter your password:" %}
    </p>
    {% url 'account_reauthenticate' as form_action %}
    {% fragment "form.html" action=form_action %}
      {{ redirect_field }}
      {{ form }}
      {% fragment "form.html#buttons" %}
        <button type="submit" class="btn btn-primary">{% translate "Confirm" %}</button>
      {% endfragment %}
    {% endfragment %}
  </div>
{% endblock settings_content %}
