{% extends "account/base.html" %}
{% load i18n %}

{% block title %}{% title_tag _("Sign Up") %}{% endblock %}

{% block settings_content %}
  {% include "header.html" with title=_("Passkey Sign Up") %}
  <div class="mt-6">
    <p class="mb-4 text-sm text-base-content/60">
      {% blocktranslate with url=login_url %}Already have an account? <a class="underline" href="{{ url }}">Sign in</a>.{% endblocktranslate %}
    </p>
    {% url 'account_signup_by_passkey' as form_action %}
    {% fragment "form.html" action=form_action %}
      {{ form }}
      {{ redirect_field }}
      {% fragment "form.html#buttons" %}
        <button type="submit" class="btn btn-primary">{% translate "Sign Up with Passkey" %}</button>
      {% endfragment %}
    {% endfragment %}
    <p class="mt-6 text-sm text-base-content/60">
      <a href="{{ signup_url }}" class="underline">{% translate "Other sign-up options" %}</a>
    </p>
  </div>
{% endblock settings_content %}
