!.coverage
!.coveragerc
!.editorconfig
!.env
!.env.example
!.pre-commit-config.yaml
**/__pycache__
**/tests
.django_studio
.copier-answers.yml
.django_tailwind_cli
.playwright-mcp
.git
.github
.idea
.ipython
.mypy_cache
.nvmrc
.pdm-python
.pytest_cache
.python-version
.ruff_cache
.venv
.vim
.vscode
*.bak
.gitignore
.gitattributes
.dockerignore
vendors.json
commitlint.config.js
design
docs
helm
justfile
LICENSE
Makefile
README.md
SECURITY.md
conftest.py
playwright.ini
docker-compose.yml
media
node_modules
npm-debug.log
screenshots
locale/**/*.mo
static/app.css
staticfiles
terraform
