{% load heroicons i18n %}
<header
    class="sticky top-0 z-10 border-b navbar border-base-300 bg-base-100/80 backdrop-blur-lg"
    x-data="{ showMobileMenu: false, showUserDropdown: false }"
    x-init="
          $watch('showMobileMenu', v => { if (v) showUserDropdown = false; });
          $watch('showUserDropdown', v => { if (v) showMobileMenu = false; });
         "
    @htmx:before-request.window="showMobileMenu = false; showUserDropdown = false"
    @keyup.escape.window="showMobileMenu = false; showUserDropdown = false"
>
    <div class="navbar-start">
        <a
            href="{% url 'index' %}"
            class="text-lg font-semibold btn btn-ghost"
        >
            {{ request.site.name }}
        </a>
    </div>
    <div class="gap-1 navbar-end">
        <button
            type="button"
            class="md:hidden btn btn-ghost btn-square"
            :aria-expanded="showMobileMenu.toString()"
            aria-label='{% translate "Toggle navigation menu" %}'
            @click="showMobileMenu = !showMobileMenu"
        >
            <span x-show="!showMobileMenu">
                {% heroicon_outline "bars-3" class="size-6" aria_hidden="true" %}
            </span>
            <span x-cloak x-show="showMobileMenu">
                {% heroicon_outline "x-mark" class="size-6" aria_hidden="true" %}
            </span>
        </button>
    </div>
    <nav
        class="absolute left-0 top-full z-50 p-4 w-full border-b shadow-xl md:hidden border-base-300 bg-base-100"
        aria-label='{% translate "Mobile navigation" %}'
        x-cloak
        x-show="showMobileMenu"
        x-transition:enter="transition ease-out duration-100"
        x-transition:enter-start="opacity-0 -translate-y-4"
        x-transition:enter-end="opacity-100 translate-y-0"
        x-transition:leave="transition ease-in duration-100"
        x-transition:leave-start="opacity-100 translate-y-0"
        x-transition:leave-end="opacity-0 -translate-y-4"
        @click.outside="showMobileMenu = false"
    >
        <ul class="flex flex-col gap-2">
            <li>
                <a href="{% url 'index' %}" class="justify-center btn btn-primary btn-block">
                    {% translate "Exemple de lien" %}
                </a>
            </li>
        </ul>
    </nav>
</header>
